<h1 class="title">
  <span>{{ "Menu.Users" | translate }}</span>
</h1>

<div class="actions-buttons">
  <button
    mat-raised-button
    color="success"
    (click)="resetModel(definitions.operation.add)"
    *ngIf="
      (userLoggedIn && isDeveloper) ||
      (securityPermissionsList && securityPermissionsList.includes(permissionsNames.addUser))
    "
    class="m-1"
  >
    {{ "Actions.Add" | translate }}
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-raised-button
    color="search"
    (click)="resetModel(definitions.operation.search)"
    class="m-1"
  >
    {{ "Actions.Search" | translate }}
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-raised-button
    color="info"
    (click)="exportDataToExcel('usersList', 'users')"
    [disabled]="busy"
    class="m-1"
    *ngIf="
      userLoggedIn &&
      securityPermissionsList &&
      securityPermissionsList.includes(permissionsNames.exportUsers)
    "
  >
    {{ "Actions.Export" | translate }}
    <mat-icon>import_export</mat-icon>
  </button>
</div>

<form
  #addUsersForm="ngForm"
  *ngIf="
    (actionType && actionType === definitions.operation.add) ||
    actionType === definitions.operation.update
  "
>
  <fieldset class="form">
    <div class="container text-center">
      <div class="row">
        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Name" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.name"
            placeholder="{{ 'Forms.Name' | translate }}"
            name="user-name"
            minlength="{{ inputLength.name }}"
            required
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Mobile" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.mobile"
            placeholder="{{ 'Forms.Mobile' | translate }}"
            name="mobile"
            minlength="{{ inputLength.mobile }}"
            maxlength="{{ inputLength.mobile }}"
            required
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6">
          <mat-label>{{ "Forms.Email" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.email"
            placeholder="{{ 'Forms.Email' | translate }}"
            name="email"
            minlength="{{ inputLength.email }}"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Password" | translate }}</mat-label>
          <input
            matInput
            type="password"
            placeholder="{{ 'Forms.Password' | translate }}"
            minlength="{{ inputLength.password }}"
            [(ngModel)]="user.password"
            name="password"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Language" | translate }} </mat-label>
          <mat-select
            matNativeControl
            [(ngModel)]="user.language"
            required
            name="language"
          >
            <mat-option [value]="lang" *ngFor="let lang of languagesList">{{
              lang.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col">
          <mat-checkbox
            [(ngModel)]="user.active"
            name="primary-status"
            color="primary"
          >
            {{ "Forms.Active" | translate }}
          </mat-checkbox>
        </div>
        <div class="container">
          <!-- *ngIf="actionType && actionType === definitions.operation.update" -->
          <fieldset>
            <legend>
              <span class="legend">
                {{ "Menu.Routes" | translate }}
              </span>
            </legend>
            <div class="row" *ngFor="let route of routesList; let i = index">
              <div class="col-sm-2">
                <div class="form-group text-center">
                  <label> {{ route?.ar }} </label>
                  <div class="form-check">
                    <input
                      class="largerCheckbox"
                      type="checkbox"
                      name="role-status"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="route.active"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-10" *ngIf="route.active">
                <div class="row">
                  <div
                    class="col-sm-2"
                    *ngFor="let permission of route.permissionsList"
                  >
                    <div class="form-group text-center">
                      <label> {{ permission?.ar }} </label>
                      <div class="form-check">
                        <input
                          class="largerCheckbox"
                          type="checkbox"
                          name="permission-status"
                          [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="permission.active"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="actions-buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addUsersForm.form.valid"
        *ngIf="
          ((userLoggedIn && isDeveloper) ||
            (securityPermissionsList &&
              securityPermissionsList.includes(permissionsNames.addUser))) &&
          actionType &&
          actionType === definitions.operation.add
        "
        (click)="addUser(user)"
        class="m-1"
      >
        {{ "Actions.Save" | translate }}<mat-icon>save</mat-icon>
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!addUsersForm.form.valid || busy"
        *ngIf="
          ((userLoggedIn && isDeveloper) ||
            (securityPermissionsList &&
              securityPermissionsList.includes(permissionsNames.updateUser))) &&
          actionType &&
          actionType === definitions.operation.update
        "
        (click)="updateUser(user)"
        class="m-1"
      >
        {{ "Actions.Update" | translate }}<mat-icon>save</mat-icon>
      </button>

      <button
        mat-raised-button
        color="danger"
        (click)="resetActionTypeToClose()"
        class="m-1"
      >
        {{ "Actions.Close" | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </fieldset>
</form>

<form
  #searchUserForm="ngForm"
  *ngIf="actionType && actionType === definitions.operation.search"
>
  <fieldset class="form">
    <div class="container text-center">
      <div class="row">
        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Name" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.name"
            placeholder="{{ 'Forms.Name' | translate }}"
            name="search-user-name"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Mobile" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.mobile"
            placeholder="{{ 'Forms.Mobile' | translate }}"
            name="search-user-mobile"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-3">
          <mat-label>{{ "Forms.Email" | translate }} </mat-label>
          <input
            matInput
            [(ngModel)]="user.email"
            placeholder="{{ 'Forms.Email' | translate }}"
            name="search-user-email"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="actions-buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!searchUserForm.form.valid || busy"
        (click)="searchUser(user)"
        class="m-1"
      >
        {{ "Actions.Search" | translate }}<mat-icon>search</mat-icon>
      </button>

      <button
        mat-raised-button
        color="danger"
        (click)="resetActionTypeToClose()"
        class="m-1"
      >
        {{ "Actions.Close" | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </fieldset>
</form>

<div
  class="result"
  *ngIf="
    usersList &&
    usersList.length &&
    (actionType === definitions.operation.result ||
      actionType === definitions.operation.update ||
      actionType === definitions.operation.getAll)
  "
>
  <div class="table-responsive" id="usersList">
    <table class="table table-sm align-middle table-hover">
      <thead>
        <tr class="thead">
          <th>{{ "Forms.S" | translate }}</th>
          <th>{{ "Forms.Name" | translate }}</th>
          <th>{{ "Forms.Mobile" | translate }}</th>
          <th>{{ "Forms.Email" | translate }}</th>
          <th>{{ "Forms.Language" | translate }}</th>

          <th>{{ "Forms.Status" | translate }}</th>
          <th>{{ "Actions.Actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.mobile }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.language.name }}</td>

          <td>
            <span *ngIf="user.active" class="status-active"
              >{{ "Forms.Active" | translate }}
            </span>
            <span *ngIf="!user.active" class="status-not-active"
              >{{ "Forms.Not-Active" | translate }}
            </span>
          </td>
          <td>
            <button
              mat-mini-fab
              color="edit"
              (click)="setData(user); actionType = definitions.operation.update"
              *ngIf="
                (userLoggedIn && isDeveloper) ||
                (securityPermissionsList &&
                  securityPermissionsList.includes(permissionsNames.updateUser))
              "
              class="m-1"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="info"
              (click)="showDetails(userDetails); setDetailsData(user)"
              class="m-1"
            >
              <mat-icon>view_list</mat-icon>
            </button>

            <button
              mat-mini-fab
              color="danger"
              (click)="deleteUser(user)"
              *ngIf="
                (userLoggedIn && isDeveloper) ||
                (securityPermissionsList &&
                  securityPermissionsList.includes(permissionsNames.deleteUser))
              "
              class="m-1"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="paginiantion">
  <div *ngIf="actionType === definitions.operation.getAll">
    <paginator
      (pageChange)="getAllUsers($event)"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>

  <div *ngIf="actionType === definitions.operation.result">
    <paginator
      (pageChange)="searchUser(user, $event)"
      *ngIf="usersList && usersList.length"
      [paginationData]="responsePaginationData"
    >
    </paginator>
  </div>
</div>

<ng-template #userDetails>
  <div class="details-div">
    <div class="table-responsive">
      <table class="table table-sm align-middle table-hover">
        <thead>
          <tr class="thead">
            <td>{{ "Forms.Name" | translate }}</td>
            <td>{{ "Forms.Mobile" | translate }}</td>
            <td>{{ "Forms.Email" | translate }}</td>
            <td>{{ "Forms.Language" | translate }}</td>

            <td>{{ "Forms.Status" | translate }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.language.name }}</td>

            <td>
              <span *ngIf="user.active" class="status-active">
                {{ "Forms.Active" | translate }}
              </span>
              <span *ngIf="!user.active" class="status-not-active">
                {{ "Forms.Not-Active" | translate }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" *ngIf="user.routesList">
      <table class="table table-sm align-middle table-hover">
        <thead>
          <tr class="thead">
            <td>{{ "Forms.S" | translate }}</td>
            <td>{{ "Forms.Route-Ar" | translate }}</td>
            <td>{{ "Forms.Route-En" | translate }}</td>
            <td>{{ "Forms.Status" | translate }}</td>
            <td>{{ "Menu.Permissions" | translate }}</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let route of user.routesList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ route.ar }}</td>
            <td>{{ route.en }}</td>
            <td>
              <span *ngIf="route.active" class="status-active">
                {{ "Forms.Active" | translate }}
              </span>
              <span *ngIf="!route.active" class="status-not-active">
                {{ "Forms.Not-Active" | translate }}
              </span>
            </td>
            <td *ngIf="route.permissionsList">
              <div class="table-responsive">
                <table class="table table-sm align-middle table-hover">
                  <thead>
                    <tr class="thead">
                      <td>{{ "Forms.S" | translate }}</td>
                      <td>{{ "Forms.Permission-Ar" | translate }}</td>
                      <td>{{ "Forms.Permission-En" | translate }}</td>
                      <td>{{ "Forms.Status" | translate }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let permission of route.permissionsList;
                        let i = index
                      "
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ permission.ar }}</td>
                      <td>{{ permission.en }}</td>
                      <td>
                        <span *ngIf="permission.active" class="status-active">
                          {{ "Forms.Active" | translate }}
                        </span>
                        <span
                          *ngIf="!permission.active"
                          class="status-not-active"
                        >
                          {{ "Forms.Not-Active" | translate }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button mat-raised-button color="danger" [mat-dialog-close]="true">
      {{ "Actions.Close" | translate }}
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>

<spinner [busy]="busy"></spinner>
