<mat-sidenav-container fullscreen>
  <mat-menu #systemMenu="matMenu">
    <mat-slide-toggle (change)="changeLanguage()" [color]="'primary'">{{
      language
    }}</mat-slide-toggle>
    <p *ngIf="userLoggedIn" class="welcome status-not-active">
      <a (click)="showDetails(changePasswordTemplate)">
        {{ "Forms.Change-Password" | translate }}
      </a>
    </p>

    <button
      mat-menu-item
      [matMenuTriggerFor]="systemManagementMenu"
      *ngIf="userLoggedIn && !isDeveloper"
    >
      <mat-icon color="primary"> settings </mat-icon>
      <span>{{ "Modules.System-Management" | translate }}</span>
    </button>

    <button
      mat-menu-item
      [matMenuTriggerFor]="securityMenu"
      *ngIf="userLoggedIn"
    >
      <mat-icon color="primary"> security </mat-icon>
      <span>{{ "Modules.Security" | translate }}</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon color="primary">logout</mat-icon>
      <span class="text-danger">{{ "Actions.Logout" | translate }}</span>
    </button>
  </mat-menu>

  <!-- systemManagement menu -->
  <mat-menu #systemManagementMenu="matMenu">
    <a
      class="menu-element"
      *ngIf="routesList && routesList.includes(routesNames.govs)"
      [routerLink]="['systemManagement/govs']"
      routerLinkActive="active"
    >
      <span>{{ "Menu.Govs" | translate }}</span>
    </a>
    <a
      class="menu-element"
      *ngIf="routesList && routesList.includes(routesNames.cities)"
      [routerLink]="['systemManagement/cities']"
      routerLinkActive="active"
    >
      <span>{{ "Menu.Cities" | translate }}</span>
    </a>
  </mat-menu>

  <!-- securityMenu menu -->
  <mat-menu #securityMenu="matMenu">
    <a
      class="menu-element"
      *ngIf="userLoggedIn && isDeveloper"
      [routerLink]="['security/routes']"
      routerLinkActive="active"
    >
      <!-- <mat-icon color="primary"> image </mat-icon> -->
      <span>{{ "Menu.Routes" | translate }}</span>
    </a>

    <a
      class="menu-element"
      *ngIf="
        userLoggedIn || (routesList && routesList.includes(routesNames.users))
      "
      [routerLink]="['security/users']"
      routerLinkActive="active"
    >
      <!-- <mat-icon color="primary"> supervised_user_circle </mat-icon> -->
      <span>{{ "Menu.Users" | translate }}</span>
    </a>
  </mat-menu>

  <mat-toolbar color="primary">
    <div class="row-button">
      <mat-button
        class="custom-nav-item"
        *ngIf="!userLoggedIn"
        routerLink="security/login"
      >
        {{ "Menu.Login" | translate }}
      </mat-button>

      <button
        mat-mini-fab
        [matMenuTriggerFor]="systemMenu"
        *ngIf="userLoggedIn"
        color="success"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- <div class="row"> -->
      <select
        class="select-theme"
        required
        [(ngModel)]="seletcedTheme"
        name="them"
        (change)="changeTheme()"
      >
        <option selected disabled>{{ "Theme" | translate }}</option>
        <option [value]="them" *ngFor="let them of themesList">
          {{ them }}
        </option>
      </select>
      <!-- </div> -->

      <!-- <mat-form-field appearance="outline" class="select-theme">
         <mat-label>{{ "Theme" | translate }} </mat-label> 
        <mat-select
          matNativeControl
          (selectionChange)="changeTheme()"
          required
          [(ngModel)]="seletcedTheme"
          name="them"
        >
          <mat-option [value]="them" *ngFor="let them of themesList">{{
            them
          }}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>

  <footer></footer>
</mat-sidenav-container>

<ng-template #changePasswordTemplate>
  <div class="change-password">
    <form #changePasswordForm="ngForm">
      <mat-form-field>
        <mat-label>{{ "Forms.New-Password" | translate }} </mat-label>
        <input
          matInput
          [(ngModel)]="newPasswordPassword.password"
          placeholder="{{ 'Forms.New-Password' | translate }}"
          name="new-password"
          minlength="{{ inputsLength.password }}"
          required
          autocomplete="off"
        />
      </mat-form-field>
    </form>

    <div class="row-button">
      <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="true"
        (click)="changePassword(newPasswordPassword)"
        [disabled]="changePasswordForm.form.invalid"
      >
        {{ "Actions.Save" | translate }}
        <mat-icon>save</mat-icon>
      </button>

      <button mat-raised-button color="danger" [mat-dialog-close]="true">
        {{ "Actions.Close" | translate }}
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
